<div class="min-h-screen flex flex-col justify-stretch">
  <div class="flex bg-gray-200">
    <!-- Sidebar -->
    <div class="w-2/10 bg-white p-4 hidden md:block">
      <div class="flex items-center justify-between px-6 py-4">
        <span class="text-xl font-semibold">ToyHub</span>
      </div>
      <nav>
        <ul class="space-y-2">
          <li>
            <a href="/admin" class="flex items-center bg-primary  p-2 text-gray-700 rounded-lg">
              <span class="ml-3">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/admin/products"
              class="flex items-center  hover:bg-gray-200 transition-all rounded p-2 text-gray-700">All Products</a>
          </li>
          <li>
            <a href="/admin/orders"
              class="flex items-center  hover:bg-gray-200 transition-all rounded p-2 text-gray-700">Order List</a>
          </li>
          <li>
            <a href="/admin/users"
              class="flex items-center  hover:bg-gray-200 transition-all rounded p-2 text-gray-700">User List</a>
          </li>
          <li>
            <a href="/admin/category"
              class="flex items-center  hover:bg-gray-200 transition-all rounded p-2 text-gray-700">Category
              Management</a>
          </li>
          <li>
            <a href="/admin/addProduct"
              class="flex items-center  hover:bg-gray-200 transition-all rounded p-2 text-gray-700">Add Products</a>
          </li>
          <li> <a href="/admin/salesReport"
              class="flex items-center rounded hover:bg-gray-100 hover:shadow-xl transition-all p-2 text-gray-700">Sales
              Report</a>
          <li><a href="/admin/coupons"
              class="flex items-center rounded hover:bg-gray-200 transition-all p-2 text-gray-700">Coupons</a></li>
          <li><a href="/admin/offers"
              class="flex items-center rounded hover:bg-gray-200 transition-all p-2 text-gray-700">Offers</a></li>
        </ul>
      </nav>
      <div class="mt-6">
        <h3 class="text-sm font-semibold ">Categories</h3>
        <hr>
        <ul class="mt-2 space-y-2">
          <li>
            <a href="#" class="flex items-center p-2 hover:bg-gray-200 transition-all rounded text-gray-700">Category
              1</a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 hover:bg-gray-200 transition-all rounded text-gray-700">Category
              2</a>
          </li>
          <li>
            <a href="#" class="flex items-center p-2 hover:bg-gray-200 transition-all rounded  text-gray-700">Category
              3</a>
          </li>
        </ul>
        <ul>
          <li>
            <form action="/admin/logout" method="POST">
              <a href="/admin/logout">
                <button type="submit"
                  class="fl x items-center p-2 hover:bg-gray-200 mt-3 transition-all rounded  ">Logout</Button>
              </a>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <!-- Main Content -->
    <div class="flex-1 p-6  space-y-6">
      <!-- Top Navbar -->
      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-4">
          <select class="p-2 border rounded-md">
            <option>All Categories</option>
          </select>
          <input type="text" class="p-2 border rounded-md" placeholder="Search for items..." />
        </div>
        <button class="px-4 py-2 bg-green-500 text-white rounded-md"> Excel </button>
      </div>
      <!-- Dashboard Stats -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="p-4 bg-white rounded-lg shadow">
          <h3 class="text-sm text-gray-500">Total Orders</h3>
          <p class="text-2xl font-semibold">₹<%= locals.totalOrders.toFixed(2) %></p>
          <p class="text-sm text-green-500"> 34.7% <span class="text-gray-500">Compared to Oct 2023</span>
          </p>
        </div>
        <div class="p-4 bg-white rounded-lg shadow">
          <h3 class="text-sm text-gray-500">Active Orders</h3>
          <p class="text-2xl font-semibold"><%= locals.activeOrders %></p>
          <p class="text-sm text-green-500"> 34.7% <span class="text-gray-500">Compared to Oct 2023</span>
          </p>
        </div>
        <div class="p-4 bg-white rounded-lg shadow">
          <h3 class="text-sm text-gray-500">Today's Revenue</h3>
          <p class="text-2xl font-semibold">₹<%= locals.todaysRevenue.toFixed(2) %></p>
          <p class="text-sm text-green-500"> 34.7% <span class="text-gray-500">Compared to Oct 2023</span>
          </p>
        </div>
      </div>
      <!-- Sales Graph -->
      <div class="p-4 bg-white rounded-lg shadow">
        <div class="flex items-center justify-between">
          <h3 class="text-lg font-semibold">Sales Graph</h3>
          <div class="flex items-center space-x-4">
            <button id="weeklyBtn" class="px-4 py-2 bg-gray-200 bg-primary text-gray-700 rounded-md">Weekly</button>
            <button id="monthlyBtn" class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md">Monthly</button>
            <button id="yearlyBtn" class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md">Yearly</button>
          </div>
        </div>
        <div class="mt-4">
          <!-- ApexCharts integration -->
          <div id="salesChart" class="w-full h-80"></div>
        </div>
      </div>





      <!-- Best Selling products -->
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">

        <div class="">
          <div class="p-4 bg-white rounded-lg shadow">
            <h3 class="text-lg font-semibold">Best Seller Products</h3>
            <ul class="mt-4 space-y-2">
              <% if (bestSellingProducts.length === 0) { %>
                <li class="text-gray-500">No best selling products available.</li>
              <% } else { %>
                <% bestSellingProducts.forEach(item => { %>
                  <li>
                    <div class="flex items-center justify-between">
                      <span>
                        <%= item.name %>
                      </span>
                      <span class="font-semibold"> ₹<%= item.price %>
                      </span>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= item.sold %> sold
                    </div>
                  </li>
                <% }) %>
              <% } %>
            </ul>
            <button class="w-full mt-4 px-4 py-2 bg-green-500 text-white rounded-md"> Report </button>
          </div>
        </div>

        <!-- best selling categories -->
        <div class="p-4 bg-white rounded-lg shadow">
          <h3 class="text-lg font-semibold">Best Seller Categories</h3>
          <ul class="mt-4 space-y-2">
            <% if (bestSellingCategories.length === 0) { %>
              <li class="text-gray-500">No best selling categories available.</li>
            <% } else { %>
              <% bestSellingCategories.forEach(category => { %>
                <li>
                  <div class="flex items-center justify-between">
                    <span>
                      <%= category.name %>
                    </span>
                    <span class="font-semibold"> <%= category.sold %>
                    </span>
                  </div>
                  <div class="text-sm text-gray-500">
                    <%= category.sold %> sales
                  </div>
                </li>
              <% }) %>
            <% } %>
          </ul>
          <button class="w-full mt-4 px-4 py-2 bg-green-500 text-white rounded-md"> Report </button>
        </div>
        
        <!-- best selling users -->
        <div class="p-4 bg-white rounded-lg shadow">
          <h3 class="text-lg font-semibold">Best Seller Users</h3>
          <ul class="mt-4 space-y-2">
            <% if (bestSellingUsers.length === 0) { %>
              <li class="text-gray-500">No best selling users available.</li>
            <% } else { %>
              <% bestSellingUsers.forEach(user => { %>
                <li>
                  <div class="flex items-center justify-between">
                    <span>
                      <%= user.name %>
                    </span>
                    <span class="font-semibold"> ₹<%= user.totalAmount %>
                    </span>
                  </div>
                  <div class="text-sm text-gray-500">
                    <%= user.totalAmount %> sales
                  </div>
                </li>
              <% }) %>
            <% } %>
          </ul>
          <button class="w-full mt-4 px-4 py-2 bg-green-500 text-white rounded-md"> Report </button>
        </div>
        
        <!-- best selling locations -->
        <div class="p-4 bg-white rounded-lg shadow">
          <h3 class="text-lg font-semibold">Best Seller Locations</h3>
          <ul class="mt-4 space-y-2">
            <% if (bestSellingLocations.length === 0) { %>
              <li class="text-gray-500">No best selling locations available.</li>
            <% } else { %>
              <% bestSellingLocations.forEach(location => { %>
                <li>
                  <div class="flex items-center justify-between">
                    <span>
                      <%= location %>
                    </span>
                    <span class="font-semibold"> <%= location %>
                    </span>
                  </div>
                  <div class="text-sm text-gray-500">
                    <%= bestSellingLocations.salesOnThisAddress %> sales
                  </div>
                </li>
              <% }) %>
            <% } %>
          </ul>
          <button class="w-full mt-4 px-4 py-2 bg-green-500 text-white rounded-md"> Report </button>
        </div>

      </div>

          
          
          <!-- Recent Orders -->
          <div class="p-4 bg-white rounded-lg shadow">
            <h3 class="text-lg font-semibold">Recent Orders</h3>
            <% if (orders.length === 0) { %>
              <p class="text-gray-500">No recent orders available.</p>
            <% } else { %>
              <table class="min-w-full mt-4">
                <thead>
                  <tr class="text-left">
                    <th>Product</th>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody class="divide-y">
                  <% orders.forEach(order => { %>
                    <tr>
                      <td>
                        <% let productNames = []; order.items.forEach(item => { productNames.push(item.product ? item.product.name : 'Product not found'); }); %>
                        <%= productNames.join(', ') %>
                      </td>
                      <td>
                        <%= order._id %>
                      </td>
                      <td>
                        <%= new Date(order.orderDate).toLocaleDateString() %>
                      </td>
                      <td>
                        <%= order.address.user.name %>
                      </td>
                      <td>
                        <span class="<%= order.status === 'completed' ? 'text-green-500' : order.status === 'Shipped' ? 'text-blue-500' : order.status === 'Delivered' ? 'text-purple-500' : order.status === 'cancelled' ? 'text-red-500' : 'text-yellow-500' %>">
                          <%= order.status %>
                        </span>
                      </td>
                      <td> ₹<%= order.totalAmount %>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            <% } %>
          </div>

          <!-- todo best sellar user  -->

    </div>
  </div>
</div>
</div>
<!-- footer -->
<footer class="flex items-center justify-between px-6 py-4 bg-white border-t mt-6">
  <div class="text-gray-700">© 2024 ToyHub. All rights reserved.</div>
  <div class="flex items-center space-x-4">
    <a href="#" class="text-gray-700">Privacy Policy</a>
    <a href="#" class="text-gray-700">Terms of Service</a>
  </div>
</footer>
</div>
<!-- modal for logout confirmation -->
<div id="logoutModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
  <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div
          class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
          <svg class="h-6 w-6 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </div>
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title"> Logout Confirmation </h3>
          <div class="mt-2">
            <p class="text-sm text-gray-500"> Are you sure you want to logout? All of your unsaved changes will be lost.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
      <button id="confirmLogout"
        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
        Logout </button>
      <button id="cancelLogout"
        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
        Cancel </button>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("logoutLink")
    .addEventListener("click", function (event) {
      event.preventDefault()
      document.getElementById("logoutModal").classList.remove("hidden")
    })

  document
    .getElementById("cancelLogout")
    .addEventListener("click", function () {
      document.getElementById("logoutModal").classList.add("hidden")
    })

  document
    .getElementById("confirmLogout")
    .addEventListener("click", function () {
      // Perform logout action here, for example, redirect to logout route
      window.location.href = "/admin/logout"
      const form = document.createElement("form")
      form.method = "POST"
      form.action = "/admin/logout"
      document.body.appendChild(form)
      form.submit()
    })
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var options = {
      chart: {
        type: 'line',
        height: '100%',
        animations: {
          enabled: true, // Enable smooth transitions
          easing: 'easeinout',
          speed: 800
        }
      },
      colors: ['#19D16F'],
      series: [
        {
          name: 'Sales',
          data: [] // Initialize with empty data
        }
      ],
      xaxis: {
        categories: [] // Initialize with empty categories
      }
    };

    var chart = new ApexCharts(document.querySelector('#salesChart'), options);
    chart.render();

    async function fetchDataAndRenderChart(url, defaultCategories) {
      try {
        const response = await axios.get(url);
        const salesData = response.data.salesData || [];

        // Adjust categories based on the length of salesData
        const categories = defaultCategories.slice(0, salesData.length);

        // Update chart with the new data
        chart.updateSeries([
          {
            data: salesData
          }
        ]);
        chart.updateOptions({
          xaxis: {
            categories: categories
          }
        });
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    // Load weekly data by default
    fetchDataAndRenderChart('/admin/sales/weekly', ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']);



    // Button event listeners
    document.getElementById('weeklyBtn').addEventListener('click', function () {
      updateButtonStyles('weeklyBtn');
      fetchDataAndRenderChart('/admin/sales/weekly', ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']);
    });



    document.getElementById('monthlyBtn').addEventListener('click', function () {
      updateButtonStyles('monthlyBtn');
      fetchDataAndRenderChart('/admin/sales/monthly', ['Week 1', 'Week 2', 'Week 3', 'Week 4']);
    });


    document.getElementById('yearlyBtn').addEventListener('click', function () {
      updateButtonStyles('yearlyBtn');
      fetchDataAndRenderChart('/admin/sales/yearly', [
        'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
      ]);
    });


    function updateButtonStyles(activeId) {
      ['weeklyBtn', 'monthlyBtn', 'yearlyBtn'].forEach(id => {
        const btn = document.getElementById(id);
        if (id === activeId) {
          btn.classList.add('bg-primary', 'text-white');
        } else {
          btn.classList.remove('bg-primary', 'text-white');
        }
      });
    }
  });

</script>