<%- include('header') %>
<div class="bg-gray-100 pt-4 w-full text-sm">
    <div class="flex min-h-screen md:w-8/12 mx-auto">
        <!-- Sidebar -->
        <%- include('profile-sidebar') %>
        <!-- Wallet Content -->
        <div class="flex-1 p-2">
            <div class="bg-white p-4 shadow-md mb-4">
                <h2 class="text-2xl font-semibold mb-4">Add Money</h2>
                <div class="mb-4">
                    <h3 class="text-xl font-semibold">Current Balance: ₹<%= user.wallet.balance %></h3>
                </div>
                <div class="mb-4">
                    <form action="/account/wallet/add-money" method="POST" class="flex flex-col items-center">
                        <label for="amount" class="text-lg font-medium mb-2">Enter Amount to Add:</label>
                        <input type="number" id="amount" name="amount" class="border rounded p-2 mb-4 w-1/2" placeholder="Enter amount" required>
                        <button type="submit" class="bg-primary text-white py-2 px-6 rounded">Add Money</button>
                    </form>
                </div>
                <div>
                    <h3 class="text-xl font-semibold mb-2">Transaction History</h3>
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="py-2 px-4 text-center border-b">Date</th>
                                <th class="py-2 px-4 text-center border-b">Description</th>
                                <th class="py-2 px-4 text-center border-b">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.wallet.transactions.forEach(transaction => { %>
                                <tr>
                                    <td class="py-2 px-4 text-center border-b"><%= transaction.date.toDateString() %></td>
                                    <td class="py-2 px-4 text-center border-b"><%= transaction.description %></td>
                                    <td class="py-2 px-4 text-center border-b"><%= transaction.amount %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>
