<%- include('/header') %>
<% products.forEach(product => { %>
    <a href="/product/<%= product._id %>">
        <div class="product-list-item flex items-start hover:bg-gray-100 border-t p-4 border-b border-gray-200">
            <img src="<%= product.images[0] %>" alt="<%= product.name %>" class="w-24 h-24 object-cover mr-4" />
            <div class="product-info">
                <h2 class="text-lg font-semibold text-gray-800"><%= product.name %></h2>
                <p class="text-gray-600 mt-1"><%= product.description1 %></p>
                <p class="text-green-600 font-bold mt-2">Price: <span class="text-2xl">$<%= product.price %></span></p>
                <p class="text-gray-600 mt-1"><%= product.description2 %></p>
                <% if (product.stock === 0) { %>
                    <p class="text-red-600 font-bold mt-2">Out of Stock</p>
                <% } else if (product.stock < 5) { %>
                    <p class="text-yellow-600 font-bold mt-2">Few Stock Left</p>
                <% } %>
            </div>
        </div>
    </a>
<% }) %>
<%- include('/footer') %>