<%- include('header') %>
<div class="bg-gray-100 min-h-screen">
    <div class="container mx-auto md:w-8/12 py-8">
        <h1 class="text-2xl font-bold mb-6 text-gray-800">My Orders</h1>

        <!-- Check if there are any orders -->
        <% if (orders.length > 0) { %>
            <div class="grid grid-cols-1 gap-6">
                <% orders.forEach((order, index) => { %>
                    <div class="bg-white shadow-md rounded-lg p-6">
                        <div class="flex items-center mb-4">
                            <% if (order.items.length > 0 && order.items[0].product && order.items[0].product.images && order.items[0].product.images.length > 0) { %>
                                <img src="<%= order.items[0].product.images[0] %>" alt="<%= order.items[0].product.name %>" class="w-16 h-16 object-contain rounded-md mr-4">
                            <% } else { %>
                                <img src="path/to/default/image.jpg" alt="No image available" class="w-16 h-16 object-contain rounded-md mr-4"> <!-- Default image -->
                            <% } %>
                            <div>
                                <h2 class="text-lg font-semibold text-gray-800">Order ID: <a href="/account/orders/<%= order._id %>" class="text-blue-500 hover:underline"><%= order._id %></a></h2>
                                <p class="text-gray-600">Order Date: <%= new Date(order.orderDate).toLocaleString() %></p>
                                <p class="text-gray-600">Total Products: <%= order.items.length %></p>
                            </div>
                        </div>
                        <div class="mb-4 flex justify-between items-center">
                            <div>
                                <p class="text-gray-600">Total Amount: <span class="font-semibold">$<%= order.totalAmount %></span></p>
                                <p class="text-gray-600">Order Status: <span class="font-bold <%= order.status === 'Cancelled' ? 'text-red-500' : order.status === 'pending' ? 'text-blue-500' : order.status === 'Delivered' ? 'text-green-500' : 'text-yellow-500' %>"><%= order.status %></span></p>
                            </div>
                            <% if (order.status !== 'Cancelled' && order.status !== 'Delivered') { %>
                                <a href="/account/orders/<%= order._id %>/cancel-reason" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                    Cancel Order
                                </a>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p class="text-gray-600">No orders found.</p>
        <% } %>
    </div>
</div>
<%- include('footer') %>

<% if (locals.toastr) { %>
    <script>
        toastr["<%= req.toastr.type %>"]("<%= req.toastr.message %>");
    </script>
<% } %>
